h1 {
    font-family: 'Lilita One', cursive;

}

.pixel-heart {
    width: 40px;
    margin-left: 5px;
}

.p-content {
    font-size: 1.6rem;
}

.title {
    font-size: 6rem;
}




@media all and (max-width: 991px) {
    .title {
        font-size: 5rem;
    }

}

@media all and (max-width: 770px) {
    .title {
        font-size: 4rem;
    }

}


/* small breakpoint: 576px */

@media all and (max-width: 576px) {

    body {
        padding-left: 10px;
        padding-right: 10px;
    }

    .title {
        font-size: 3.2rem;
    }

    .p-content {
        font-size: 1.4rem;
    }


}


@media all and (max-width: 425px) {
    .title {
        font-size: 2rem;
    }
}



@import '~bootstrap/scss/bootstrap.scss';