.card-image {
    width: 300px;
    height: 300px;
    object-fit: cover;
  }

  .game-card {
    font-family: 'Quicksand', sans-serif;
    box-shadow: 0px 0px 10px #D38FDE;
    border-radius: 40px;
    
  }

.open-button {
  font-family: 'Quicksand', sans-serif;
}

@import '~bootstrap/scss/bootstrap.scss';