body {
  background-image: url("../src/img/background.png");  
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 60px;
  padding-bottom: 50px;
}


@import '~bootstrap/scss/bootstrap.scss';