body {
  background-image: url("../src/img/background.png");  
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 10px;
  padding-bottom: 50px;
}

